.algorithm {
    width: 100%;
    flex: 0 0 620px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 64px;
    border-radius: 30px 30px 0px 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url("../images/background/algorithm/room.jpeg") 0px -50.533px / 100% 108.975% no-repeat;
    color: var(--ffffff, #FFF);
    padding: 64px 40px 80px 40px;
}

.algorithm__title {
    max-width: 499px;
    padding-left: 7px;
}

.title--gap_12-align {
    gap: 12px;
    text-align: start;
}

.title__text--color, .title__text-addition--color_w {
    color: var(--ffffff, #FFF);
}

.algorithm__scheme {
    /* border: 2px solid white; */
    display: grid;
    grid-template-rows: 23px 1fr;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 21% 24.12% 19% 25%;
    grid-column-gap: 45px;
    /* justify-self: start; */
    border-top: 2px solid white;
}

.algorithm__period {
    border-left: 2px solid white;
}

.algorithm__action {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.algorithm__operator {
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}

.condition {
    padding: 20px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(11px);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.condition__text {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: start;
}

.condition__var {
    padding: 4px 8px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.10);
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; /* 121.429% */
    text-transform: lowercase;
    max-width: 142px;
}   

.condition__eq {
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 100% */
}

.condition__addition {
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px; /* 100% */
}

.time {
    flex-shrink: 0;
}

@media (max-width: 1280px) {
    .algorithm {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url("../images/background/algorithm/room.jpeg") top left / cover no-repeat;
    }

    .algorithm__scheme {
        grid-template-columns: 40px 1fr;
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 45px;
        grid-template-areas: 
        'b1 a1'
        'b2 a2'
        'b3 a3'
        'b4 a4';
        border-top: none;
        border-left: 2px solid white;
    }

    .algorithm__period {
        border-left: none;
        border-top: 2px solid white;
    }

    .algorithm__action {
        padding-top: 0;
    }
    
    .b1 {
        grid-area: b1;
    }

    .b2 {
        grid-area: b2;
    }

    .b3 {
        grid-area: b3;
    }

    .b4 {
        grid-area: b4;
    }

    .a1 {
        grid-area: a1;
        padding-bottom: 22px;
    }

    .a2 {
        grid-area: a2;
        padding-bottom: 17px;
    }

    .a3 {
        grid-area: a3;
        padding-bottom: 20px;
    }

    .a4 {
        grid-area: a4;
    }
}