.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.title__tag {
    padding: 6px 14px;
    border-radius: 40px;
    background: #E8E8E8;
    color: #5C5C5C;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.title__text {
    color: var(--2-a-2-a-2-a, #2A2A2A);
    font-family: 'Montserrat';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.title__text-addition {
    color: var(--444444, #444);
    font-family: 'Montserrat';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}